{
  "presets": ["flow", "es2015"],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "melinda-deduplication-common": "./melinda-deduplication-common"
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": ["rewire"]
    }
  }
}
